@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('/fonts/NeoDunggeunmoPro-Regular.woff2') format('woff2'),
    url('/fonts/NeoDunggeunmoPro-Regular.woff') format('woff'),
    url('/fonts/NeoDunggeunmoPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'NeoDunggeunmoPro-Regular';
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
